		<footer>
			&copy; 2014 <a href="#fakelink">Your company</a><br />
			Design by <a href="http://isohdesign.com" target="_blank">ids</a>. Purchase this item at <a href="http://goo.gl/wSCjxD" target="_blank">Themeforest</a>
		</footer>	
				
		</div><!-- /.page-content -->

	</div><!-- /.wrapper -->
		<!-- END PAGE CONTENT -->
		
		
	
<!-- 返回顶部 -->
<div id="back-top">
	<a href="#top"><i class="fa fa-chevron-up"></i></a>
</div>




<script src="<?php echo BASE_URL;?>/public/assets/js/jquery.min.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/js/bootstrap.min.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/retina/retina.min.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/nicescroll/jquery.nicescroll.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/backstretch/jquery.backstretch.min.js"></script>

<!-- PLUGINS -->
<script src="<?php echo BASE_URL;?>/public/assets/plugins/skycons/skycons.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/prettify/prettify.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/chosen/chosen.jquery.min.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/icheck/icheck.min.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/timepicker/bootstrap-timepicker.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/mask/jquery.mask.min.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/validator/bootstrapValidator.min.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/datatable/js/bootstrap.datatable.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/summernote/summernote.min.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/markdown/markdown.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/markdown/to-markdown.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/markdown/bootstrap-markdown.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/slider/bootstrap-slider.js"></script>

<script src="<?php echo BASE_URL;?>/public/assets/plugins/toastr/toastr.js"></script>

<!-- FULL CALENDAR JS -->
<script src="<?php echo BASE_URL;?>/public/assets/plugins/fullcalendar/lib/jquery-ui.custom.min.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/fullcalendar/fullcalendar/fullcalendar.min.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/js/full-calendar.js"></script>

<!-- EASY PIE CHART JS -->
<script src="<?php echo BASE_URL;?>/public/assets/plugins/easypie-chart/easypiechart.min.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/easypie-chart/jquery.easypiechart.min.js"></script>

<!-- KNOB JS -->
<!--[if IE]>
<script type="text/javascript" src="<?php echo BASE_URL;?>/public/assets/plugins/jquery-knob/excanvas.js"></script>
<![endif]-->
<script src="<?php echo BASE_URL;?>/public/assets/plugins/jquery-knob/jquery.knob.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/jquery-knob/knob.js"></script>

<!-- FLOT CHART JS -->
<script src="<?php echo BASE_URL;?>/public/assets/plugins/flot-chart/jquery.flot.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/flot-chart/jquery.flot.tooltip.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/flot-chart/jquery.flot.resize.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/flot-chart/jquery.flot.selection.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/flot-chart/jquery.flot.stack.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/flot-chart/jquery.flot.time.js"></script>

<!-- MORRIS JS -->
<script src="<?php echo BASE_URL;?>/public/assets/plugins/morris-chart/raphael.min.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/morris-chart/morris.min.js"></script>

<!-- C3 JS -->
<script src="<?php echo BASE_URL;?>/public/assets/plugins/c3-chart/d3.v3.min.js" charset="utf-8"></script>
<script src="<?php echo BASE_URL;?>/public/assets/plugins/c3-chart/c3.min.js"></script>

<!-- MAIN APPS JS -->
<script src="<?php echo BASE_URL;?>/public/assets/js/apps.js"></script>
<script src="<?php echo BASE_URL;?>/public/assets/js/demo-panel.js"></script>
		 
		
	</body>
</html>