<?php include APPLICATION_PATH."/application/views/public/header.html" ?>
<div class="container-fluid">
	<!-- Begin page heading -->
	<h1 class="page-heading">it闲人 <small> </small></h1>
	<!-- End page heading -->

	<!-- Begin breadcrumb -->
	<ol class="breadcrumb default square rsaquo sm">
		<li><a href="index.html"><i class="fa fa-home"></i></a></li>
		<li><a href="#fakelink">管理后台</a></li>
		<li class="active">首页</li>
	</ol>
	<!-- End breadcrumb -->
	
	
	<div class="row">
		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 欢迎登录管理后台 
	</div><!-- /.row -->

</div><!-- /.container-fluid -->
<?php include APPLICATION_PATH."/application/views/public/footer.html" ?>
