<?php include APPLICATION_PATH."/application/views/public/header.html" ?>
<div class="container-fluid">
	<!-- Begin page heading -->
	<h1 class="page-heading">文章 <small></small></h1>
	<!-- End page heading -->

	<!-- Begin breadcrumb -->
	<ol class="breadcrumb default square rsaquo sm">
		<li><a href="index.html"><i class="fa fa-home"></i></a></li>
		<li><a href="#fakelink">管理后台</a></li>
		<li class="active">文章列表</li>
	</ol>
	<!-- End breadcrumb -->
	
	
	<div class="row">
		<div class="collapse navbar-collapse" id="main-fixed-nav">
		 		<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" style="width: 430px;"class="form-control" name="title" value="<?php echo $title;?>" placeholder="搜索">
					</div>
				</form>
				 
				<a href="/code/add" class="navbar-form navbar-left"><button class="btn btn-success">新增</button></a>
				 
		</div>
		<div class="the-box no-border full">
						<div class="table-responsive">
							<table class="table table-th-block">
								<thead>
									<tr><th style="width: 30px;">id</th><th>标题</th> <th>创建时间</th></tr>
								</thead>
								<tbody>

									<?php foreach($this->list as $key =>$val):?>
									<tr>
										<td><?php echo $val['id'];?></td>
										<td> <a href="/code/info?id=<?php echo $val['id'];?>"><?php echo $val['title'];?></a></td>
										<td><?php echo  $val['create_time'];?></td>
										<td><a href="/code/edit?id=<?php echo $val['id'];?>">修改</a>|
											<a href="/code/del?id=<?php echo $val['id'];?>">删除</a>
										</td>
									</tr>
									<?php endforeach;?>
							 
								</tbody>
							</table>
						</div><!-- /.table-responsive -->
					</div><!-- /.the-box -->
	</div><!-- /.row -->
	<?php echo $this->page;?>

</div><!-- /.container-fluid -->
<?php include APPLICATION_PATH."/application/views/public/footer.html" ?>
